@model TCC.BackEnd.Subject

@{
    ViewBag.Title = "Edit Subject";
    Layout = "~/Views/Shared/_LayoutCreate.cshtml";
}

<div class="wrapper">
    <div class="inner">
        <img src="~/Images/create1.png" alt="" class="image-1" />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <h3>Edit Subject</h3>
            
            <div class="text-danger">
                @Html.ViewBag.erorr
            </div>

            <center>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </center>
            <div class="form-holder">
                <span class="lnr lnr-user"></span>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Name" } })
            </div>

            <center>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </center>
            <div class="form-holder">
                <span class="lnr lnr-phone-handset"></span>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Description" } })

            </div>

            <center>
                @Html.ValidationMessageFor(model => model.Teacher, "", new { @class = "text-danger" })
            </center>
            <div class="form-holder">
                <span class="lnr lnr-phone-handset"></span>
                @Html.EditorFor(model => model.Teacher, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Teacher" } })

            </div>



            <center>
                @Html.ValidationMessageFor(model => model.SpecializationID, "", new { @class = "text-danger" })
            </center>
            <div class="form-holder">
                <span class="lnr lnr-lock"></span>
                @Html.DropDownList("SpecializationID", null, htmlAttributes: new { @class = "form-control" })
            </div>

            <button type="submit">
                <span>Save</span>
            </button>
            <center>
                <div style="margin-top:10px;">
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </center>
        }

        <img src="~/Images/create2.png" alt="" class="image-2" />
    </div>

</div>

